<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/index.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/profile.js"></script>
</head>
<body ng-controller="RegCtrl as regCtrl">

    <div class="container">
        <form name="regForm" novalidate ng-submit="regCtrl.createProfile()">
            <h2>Registration form</h2>               
            <div class="form-group">
                <label for="email">Email</label> 
                <input type="text" class="form-control" id="email" name="email" required ng-model="regCtrl.email" ng-change="regCtrl.emailCheck()">
                <span class="animate-this help-block helpMsg">
                    {{ regCtrl.emailHelp }}
                </span>                                    
            </div>

            <div class="form-group">
                <label for="password">Password</label> 
                <input type="password" class="form-control" id="password" name="password" required ng-model="regCtrl.password" ng-change="regCtrl.pwValidate()">
                <span class="animate-this help-block helpMsg">
                    {{ regCtrl.pwHelp }}
                </span>                                    
            </div>

            <div class="form-group">
                <label for="name">Name</label> 
                <input type="text" class="form-control" id="name" name="name" required ng-model="regCtrl.name">
                <span class="animate-this help-block helpMsg" ng-hide="regForm.name.$valid">
                    Please enter your name
                </span>                                    
            </div>
            
            <div class="form-group">
                <label for="gender">Gender</label><br>
                <label class="radio-inline"> 
                <input type="radio" id="gender1" name="gender" required ng-model="regCtrl.gender" value="Male"> Male
                </label>
                <label class="radio-inline">
                <input type="radio" id="gender2" name="gender" required ng-model="regCtrl.gender" value="Female"> Female
                </label>
                <span class="animate-this help-block helpMsg" ng-hide="regForm.gender.$valid">
                    Please select a gender
                </span>                                    
            </div>

            <div class="form-group">
                <label for="dob">Date of birth</label> 
                <input type="date" class="form-control" id="dob" name="dob" required ng-model="regCtrl.dob" ng-change="regCtrl.ageCheck()">
                <span class="animate-this help-block helpMsg">
                    {{ regCtrl.dobHelp }}
                </span>                                    
            </div>

            <div class="form-group">
                <label for="address">Address</label> 
                <input type="text" class="form-control" id="address" name="address" required ng-model="regCtrl.address">
                <span class="animate-this help-block helpMsg" ng-hide="regForm.address.$valid">
                    Please enter your address
                </span>                                    
            </div>

            <div class="form-group">
                <label for="country">Country</label> 
                <input type="text" class="form-control" id="country" name="country" required ng-model="regCtrl.country">
                <span class="animate-this help-block helpMsg" ng-hide="regForm.country.$valid">
                    Please enter your country
                </span>                                    
            </div>

            <div class="form-group">
                <label for="contactNo">Contact Number</label> 
                <input type="text" class="form-control" id="contactNo" name="contactNo" required ng-model="regCtrl.contactNo" ng-change="regCtrl.contactCheck()">
                <span class="animate-this help-block helpMsg">
                    {{ regCtrl.conHelp }}
                </span>                                    
            </div>

            <div class="form-group">
                <button type="submit" id="regSubBut" class="btn btn-success form-control" ng-disabled="regForm.$invalid">Submit</button>
            </div>

        </form>
    </div>            
</body>
</html>